*{
    font-family: "Open Sans";
}

.navbar{
    height: 70px;
    background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
}

.navContainer{
    width: 90%;
    max-width: 1200px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: larger;
    font-family: 'Montserrat'
}

.navButton{
    margin-left: 15px;
    border: 3px solid rgb(255, 255, 255);
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 5px;
    transition: 0.3s;
    width: 100px;
    font-weight: bold;
}

.navButton:hover{
    background-color: #47339e;
    color: rgb(255, 230, 0);
    font-weight: bold;
    /* width: 150px; */
    border-radius: 25px;
    box-shadow: -1px 3px 53px -14px rgba(0,0,0,1);
-webkit-box-shadow: -1px 3px 53px -14px rgba(0,0,0,1);
-moz-box-shadow: -1px 3px 53px -14px rgba(0,0,0,1);
}


